@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

/*======== Header =========*/
.header {
  background-color: #ffffff;
  padding: 16px 0;
}
.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__logo a {
  text-decoration: none;
}
.header__logo a img {
  height: 40px;
}
.header__menu ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.header__menu ul li a {
  text-decoration: none;
  display: inline-block;
  color: #333;
  font-weight: 600;
  font-size: 16px;
  transition: .5s ease;
}
.header__menu ul li a:hover {
  color: #30B868;
}
.header__menu-btn button {
  background-color: #30B868;
  color: #ffffff;
  border: 0;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  padding: 14px 24px;
  border-radius: 5px;
  cursor: pointer;
  transition: all .5s ease;
}
.header__menu-btn button:hover {
  background-color: #ffffff;
  color: #30B868;
  border: 1px solid #30B868;
}

/*======= Hero =======*/
.hero {
  background: linear-gradient(#0000005b, #0000005b), url("../Images/hero-bg.png");
  min-height: 95vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
}
.hero__content {
 display: flex;
 flex-direction: column;
}
.hero__content .hero__content-badge {
  width: fit-content;
  margin: 0 auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 8px 18px;
  border-radius: 50px;
}
.hero__content-badge img {
  width: 20px;
  height: 20px;
}
.hero__content-badge span {
  font-size: 16px;
  color: #30B868;
  text-transform: capitalize;
  font-weight: 500;
}
.hero__content-text {
  text-align: center;
  margin-top: 20px;
}
.hero__content-text h1 {
  font-size: 72px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 16px;
  line-height: 1.3;
}
.hero__content-text h1 .heading-white {
  color: #ffffff;
}
.hero__content-text h1 .heading-green {
  color: #30B868;
}
.hero__content-text p {
  width: 65%;
  margin: 0 auto;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 1px;
  font-style: normal;
  font-size: 18px;
  line-height: 1.5;
}
.hero__btns {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 30px;
}
.hero__btns .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  gap: 6px;
  border: 0;
  border-radius: 5px;
  outline: none;
  transition: all .5s ease;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 600;
}
.hero__btns .btn-primary {
  background-color: #30B868;
  color: #ffffff;
  transition: all .5s ease;
}
.hero__btns .btn-outline {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  transition: all .5s ease;
}
.hero__btns .btn-primary img {
  width: 20px;
  height: 20px;
}
.hero__btns .btn-outline img {
  width: 20px;
  height: 20px;
}
.hero__btns .btn-primary:hover {
  background-color: #0c9e49;
}
.hero__btns .btn-outline:hover {
  border: 1px solid #30B868;
  color: #30B868;
}

/*======== Notes =========*/
.notes {
  padding-top: 40px;
  padding-bottom: 60px;
  background-color: #f8f8f8;
}
.notes__title {
  text-align: center;
}
.notes__title h2 {
  font-size: 48px;
  font-weight: 700;
  color: #333;
  margin-bottom: 5px;
  text-transform: capitalize;
}
.notes__title p {
  font-size: 16px;
  color: #929292;
}
.notes__container {
  margin-top: 50px;
  display: flex;
  gap: 40px;
}
.notes__single-box {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 35px 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
}
.notes__single-box img {
  width: 32px;
  height: 32px;
  background-color: rgba(249, 85, 85, 1);
  padding: 5px;
  border-radius: 50%;
}
.notes__single-box h3 {
  font-size: 18px;
  color: #333;
  text-align: center;
  padding: 8px 0;
  text-transform: capitalize;
}
.notes__single-box p {
  font-size: 14px;
  text-align: center;
  color: #929292;
}

/*======== Brain ========*/
.brain {
  background-color: #ffffff;
  padding-top: 80px;
  padding-bottom: 80px;
}
.brain__wrapper {
  display: flex;
  align-items: center;
  gap: 5%;
}
.brain__wrapper .brain__img {
  flex-basis: 45%;
}
.brain__wrapper .brain__img img {
  width: 100%;
}
.brain__wrapper .brain__title {
  flex-basis: 50%;
}
.brain__title span {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  color: #30B868;
  margin-bottom: 8px;
  display: inline-block;
}
.brain__title h2 {
  font-size: 48px;
  color: #333;
  text-transform: capitalize;
}
.brain__title p {
  margin: 16px 0;
  font-size: 16px;
  color: #929292;
}
.brain__title ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.brain__title ul li {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}
.brain__title ul li img {
  width: 20px;
  height: 20px;
}
.brain__title ul li span {
  font-size: 16px;
  margin: 0;
  color: #333;
  text-transform: none;
}

/*======= Early Access ========*/
.earlyAccess {
  background-color: #ffffff;
  padding-top: 50px;
  padding-bottom: 80px;
}
.earlyAccess__content {
  background-color: #f8f8f8;
  padding: 50px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.earlyAccess__content h2 {
  font-size: 40px;
  color: #333;
  margin-bottom: 8px;
}
.earlyAccess__content p {
  font-size: 16px;
  color: #929292;
  width: 55%;
  margin: 0 auto;
  text-align: center;
  line-height: 1.3;
}
.earlyAccess__content button {
  border: 0;
  outline: none;
  background-color: #30B868;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 18px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  margin: 16px 0;
  transition: .5s ease;
}
.earlyAccess__content button:hover {
  background-color: #0c9e49;
}
.earlyAccess__content button span {
  text-transform: capitalize;
  font-size: 16px;
  color: #ffffff;
}
.earlyAccess__content button img {
  width: 20px;
  height: 20px;
}

/*====== Footer =======*/
.footer {
  background-color: #001931;
  padding-top: 80px;
  padding-bottom: 25px;
}
.footer__container {
  display: flex;
  flex-direction: column;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}
.footer__top .footer__top-logo img {
  height: 40px;
}
.footer__top-social {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.footer__top-social p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
}
.footer__top-social ul {
  list-style: none;
  display: flex;
  gap: 8px;
}
.footer__top-social ul li a img {
  width: 20px;
  height: 20px;
}
.footer__copyright {
  border-top: 2px solid #15233d;
}
.footer__copyright p {
  text-align: center;
  text-transform: capitalize;
  padding-top: 20px;
  color: #f8f8f8;
  font-size: 16px;
}