@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.header {
  background-color: #ffffff;
  padding: 16px 0;
}
.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__logo a {
  text-decoration: none;
}
.header__logo a img {
  height: 40px;
}
.header__menu ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.header__menu ul li a {
  text-decoration: none;
  display: inline-block;
  color: #333;
  font-weight: 600;
  font-size: 16px;
  transition: .5s ease;
}
.header__menu ul li a:hover {
  color: #30B868;
}
.header__menu-btn button {
  background-color: #30B868;
  color: #ffffff;
  border: 0;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  padding: 14px 24px;
  border-radius: 5px;
  cursor: pointer;
  transition: all .5s ease;
}
.header__menu-btn button:hover {
  background-color: #ffffff;
  color: #30B868;
  border: 1px solid #30B868;
}
